[submodule ".registry"]
	path = .registry
	url = https://github.com/ropensci/universe
	shallow = true
	branch = HEAD
[submodule "universe"]
	path = universe
	url = https://github.com/r-universe-org/universe
	shallow = true
	registered = true
[submodule "DoOR.data"]
	path = DoOR.data
	url = https://github.com/Dahaniel/DoOR.data
	shallow = true
	branch = v2.0.1
	registered = false
[submodule "DoOR.functions"]
	path = DoOR.functions
	url = https://github.com/Dahaniel/DoOR.functions
	shallow = true
	branch = v2.0.1
	registered = false
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	shallow = true
	registered = false
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	shallow = true
	registered = false
[submodule "emo"]
	path = emo
	url = https://github.com/hadley/emo
	shallow = true
	registered = false
[submodule "ggmap"]
	path = ggmap
	url = https://github.com/dkahle/ggmap
	shallow = true
	registered = false
[submodule "goodpractice"]
	path = goodpractice
	url = https://github.com/mangoTheCat/goodpractice
	shallow = true
	registered = false
[submodule "leafem"]
	path = leafem
	url = https://github.com/r-spatial/leafem
	shallow = true
	registered = false
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
	shallow = true
	registered = false
[submodule "mapview"]
	path = mapview
	url = https://github.com/r-spatial/mapview
	shallow = true
	registered = false
[submodule "pkgcheck"]
	path = pkgcheck
	url = https://github.com/ropensci-review-tools/pkgcheck
	shallow = true
	registered = false
[submodule "pkgstats"]
	path = pkgstats
	url = https://github.com/ropensci-review-tools/pkgstats
	shallow = true
	registered = false
[submodule "restez"]
	path = restez
	url = https://github.com/ropensci/restez
	shallow = true
	registered = false
[submodule "rrricanes"]
	path = rrricanes
	url = https://github.com/ropensci/rrricanes
	shallow = true
	branch = develop
	registered = false
[submodule "srr"]
	path = srr
	url = https://github.com/ropensci-review-tools/srr
	shallow = true
	registered = false
[submodule "tabulizerjars"]
	path = tabulizerjars
	url = https://github.com/ropensci/tabulizerjars
	shallow = true
	registered = false
[submodule "taxizedb"]
	path = taxizedb
	url = https://github.com/ropensci/taxizedb
	shallow = true
	registered = false
[submodule "treeman"]
	path = treeman
	url = https://github.com/dombennett/treeman
	shallow = true
	registered = false
