[submodule ".registry"]
	path = .registry
	url = https://github.com/ropensci/universe
	shallow = true
	branch = HEAD
[submodule "universe"]
	path = universe
	url = https://github.com/r-universe-org/universe
	shallow = true
	registered = true
