[submodule "riodata"]
	path = riodata
	url = https://github.com/ropenscilabs/riodata
[submodule "colorpiler"]
	path = colorpiler
	url = https://github.com/ropenscilabs/colorpiler
[submodule "snowball"]
	path = snowball
	url = https://github.com/ropenscilabs/snowball
[submodule "splister"]
	path = splister
	url = https://github.com/ropenscilabs/splister
[submodule "phyrmeta"]
	path = phyrmeta
	url = https://github.com/ropenscilabs/phyrmeta
[submodule "ridb"]
	path = ridb
	url = https://github.com/ropenscilabs/ridb
[submodule "convertr"]
	path = convertr
	url = https://github.com/ropenscilabs/convertr
[submodule "ponyexpress"]
	path = ponyexpress
	url = https://github.com/ropenscilabs/ponyexpress
[submodule "testrmd"]
	path = testrmd
	url = https://github.com/ropenscilabs/testrmd
[submodule "notary"]
	path = notary
	url = https://github.com/ropenscilabs/notary
[submodule "ochRe"]
	path = ochRe
	url = https://github.com/ropenscilabs/ochRe
[submodule "changes"]
	path = changes
	url = https://github.com/ropenscilabs/changes
[submodule "rrlite"]
	path = rrlite
	url = https://github.com/ropensci/rrlite
[submodule "IEEER"]
	path = IEEER
	url = https://github.com/ropensci/IEEER
[submodule "aspacer"]
	path = aspacer
	url = https://github.com/ropenscilabs/aspacer
[submodule "dissemr"]
	path = dissemr
	url = https://github.com/ropenscilabs/dissemr
[submodule "hoasts"]
	path = hoasts
	url = https://github.com/ropenscilabs/hoasts
[submodule "rftdoi"]
	path = rftdoi
	url = https://github.com/ropenscilabs/rftdoi
[submodule "spplist"]
	path = spplist
	url = https://github.com/ropenscilabs/spplist
[submodule "rresync"]
	path = rresync
	url = https://github.com/ropenscilabs/rresync
[submodule "datasauce"]
	path = datasauce
	url = https://github.com/ropenscilabs/datasauce
[submodule "keybase"]
	path = keybase
	url = https://github.com/ropenscilabs/keybase
[submodule "trackmd"]
	path = trackmd
	url = https://github.com/ropenscilabs/trackmd
[submodule "jobstatus"]
	path = jobstatus
	url = https://github.com/ropenscilabs/jobstatus
[submodule "mchtoolbox"]
	path = mchtoolbox
	url = https://github.com/ropenscilabs/mchtoolbox
[submodule "arresteddev"]
	path = arresteddev
	url = https://github.com/ropenscilabs/arresteddev
[submodule "datapkg"]
	path = datapkg
	url = https://github.com/ropenscilabs/datapkg
[submodule "decapitated"]
	path = decapitated
	url = https://github.com/ropenscilabs/decapitated
[submodule "testevil"]
	path = testevil
	url = https://github.com/ropenscilabs/testevil
[submodule "USAboundariesData"]
	path = USAboundariesData
	url = https://github.com/ropensci/USAboundariesData
[submodule "middlechild"]
	path = middlechild
	url = https://github.com/ropenscilabs/middlechild
[submodule "roomba"]
	path = roomba
	url = https://github.com/ropenscilabs/roomba
[submodule "dirdf"]
	path = dirdf
	url = https://github.com/ropenscilabs/dirdf
[submodule "MonetDBLite"]
	path = MonetDBLite
	url = https://github.com/ropenscilabs/MonetDBLite
[submodule "pkginspector"]
	path = pkginspector
	url = https://github.com/ropenscilabs/pkginspector
[submodule "rdopa"]
	path = rdopa
	url = https://github.com/ropensci/rdopa
[submodule "ozbabynames"]
	path = ozbabynames
	url = https://github.com/ropenscilabs/ozbabynames
[submodule "reviewer"]
	path = reviewer
	url = https://github.com/ropenscilabs/reviewer
[submodule "rwalkable"]
	path = rwalkable
	url = https://github.com/ropenscilabs/rwalkable
[submodule "bindertools"]
	path = bindertools
	url = https://github.com/ropenscilabs/bindertools
[submodule "tl"]
	path = tl
	url = https://github.com/ropenscilabs/tl
[submodule "blogyaml"]
	path = blogyaml
	url = https://github.com/ropenscilabs/blogyaml
[submodule "sparqldsl"]
	path = sparqldsl
	url = https://github.com/ropenscilabs/sparqldsl
[submodule "datastorr"]
	path = datastorr
	url = https://github.com/ropenscilabs/datastorr
[submodule "geonames"]
	path = geonames
	url = https://github.com/ropensci/geonames
[submodule "tecks"]
	path = tecks
	url = https://github.com/ropenscilabs/tecks
[submodule "apipkgen"]
	path = apipkgen
	url = https://github.com/ropenscilabs/apipkgen
[submodule "oauthlib"]
	path = oauthlib
	url = https://github.com/ropenscilabs/oauthlib
[submodule "checkers"]
	path = checkers
	url = https://github.com/ropenscilabs/checkers
[submodule "USAboundaries"]
	path = USAboundaries
	url = https://github.com/ropensci/USAboundaries
[submodule "gendercodeR"]
	path = gendercodeR
	url = https://github.com/ropenscilabs/gendercodeR
[submodule "dbhydroR"]
	path = dbhydroR
	url = https://github.com/ropensci/dbhydroR
[submodule "tabulizer"]
	path = tabulizer
	url = https://github.com/ropensci/tabulizer
[submodule "defender"]
	path = defender
	url = https://github.com/ropenscilabs/defender
[submodule "ropsec"]
	path = ropsec
	url = https://github.com/ropenscilabs/ropsec
[submodule "plotdap"]
	path = plotdap
	url = https://github.com/ropensci/plotdap
[submodule "pkgreviewr"]
	path = pkgreviewr
	url = https://github.com/ropenscilabs/pkgreviewr
[submodule "workloopR"]
	path = workloopR
	url = https://github.com/ropensci/workloopR
[submodule "rentrez"]
	path = rentrez
	url = https://github.com/ropensci/rentrez
[submodule "antiword"]
	path = antiword
	url = https://github.com/ropensci/antiword
[submodule "popler"]
	path = popler
	url = https://github.com/ropensci/popler
[submodule "qpdf"]
	path = qpdf
	url = https://github.com/ropensci/qpdf
[submodule "citesdb"]
	path = citesdb
	url = https://github.com/ropensci/citesdb
[submodule "epubr"]
	path = epubr
	url = https://github.com/ropensci/epubr
[submodule "chromer"]
	path = chromer
	url = https://github.com/ropensci/chromer
[submodule "NLMR"]
	path = NLMR
	url = https://github.com/ropensci/NLMR
[submodule "gtfsr"]
	path = gtfsr
	url = https://github.com/ropensci/gtfsr
[submodule "infx"]
	path = infx
	url = https://github.com/ropensci/infx
[submodule "monkeylearn"]
	path = monkeylearn
	url = https://github.com/ropensci/monkeylearn
[submodule "rnaturalearth"]
	path = rnaturalearth
	url = https://github.com/ropensci/rnaturalearth
[submodule "rtimicropem"]
	path = rtimicropem
	url = https://github.com/ropensci/rtimicropem
[submodule "simpletextr"]
	path = simpletextr
	url = https://github.com/ropenscilabs/simpletextr
[submodule "tRainspotting"]
	path = tRainspotting
	url = https://github.com/ropenscilabs/tRainspotting
[submodule "treestartr"]
	path = treestartr
	url = https://github.com/ropensci/treestartr
[submodule "cld2"]
	path = cld2
	url = https://github.com/ropensci/cld2
[submodule "graphql"]
	path = graphql
	url = https://github.com/ropensci/graphql
