on:
  push:
    branches:
      - master
    paths-ignore:
      - '.*'
      - '.*/**'
  workflow_dispatch:
    inputs:
      package:
        description: Which package or commit to build (default is HEAD commit)
        required: false

name: Build package
run-name: ${{ github.event.head_commit.message || format('{0} (rebuild)', inputs.package) }}
env:
  MY_UNIVERSE: https://${{ github.event.repository.name }}.r-universe.dev
  GH_APP_ID: '87942'

jobs:
  prepare:
    name: Determine package to build
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, 'Deleting packages')"
    outputs:
      repo_url: ${{ steps.lookup.outputs.repo_url }}
      repo_name: ${{ steps.lookup.outputs.repo_name }}
      repo_owner: ${{ steps.lookup.outputs.repo_owner }}
      repo_commit: ${{ steps.lookup.outputs.repo_commit }}
      repo_subdir: ${{ steps.lookup.outputs.repo_subdir }}
      repo_branch: ${{ steps.lookup.outputs.repo_branch }}
      repo_registered: ${{ steps.lookup.outputs.repo_registered }}
      universe_app: ${{ steps.lookup.outputs.universe_app }}
      maintainer_login: ${{ steps.lookup.outputs.maintainer_login }}
      build_docs: ${{ steps.lookup.outputs.build_docs }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 100
      - id: lookup
        name: Find changed package
        uses: r-universe-org/find-changes@master
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          package: ${{ github.event.inputs.package }}

  pendingstatus:
    name: Set Status to Pending
    runs-on: ubuntu-20.04
    needs: [prepare]
    if: needs.prepare.outputs.universe_app
    steps:
      - name: Set upstream commit status
        uses: r-universe-org/commit-status@master
        env:
          GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
        with:
          repo: ${{ needs.prepare.outputs.repo_url }}
          sha: ${{ needs.prepare.outputs.repo_commit }}
          url: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
          universe: ${{ github.event.repository.name }}
          deployed_packages: 'pending'
        if: github.event.inputs.package == ''

  docs:
    needs: prepare
    name: Build package documentation
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    if: needs.prepare.outputs.build_docs
    steps:
      - name: Build package docs
        uses: r-universe-org/build-docs@master
        with:
          repo_url: ${{ needs.prepare.outputs.repo_url }}
          subdir: ${{ needs.prepare.outputs.repo_subdir }}
          registry: ${{ github.event.repository.name }}
      - name: "Save docs zip"
        uses: actions/upload-artifact@v3
        with:
          name: docs-website
          path: docs.zip

  deploydocs:
    name: Deploy to docs server
    runs-on: ubuntu-20.04
    needs: docs
    steps:
      - name: Get artifacts for deployment
        uses: actions/download-artifact@v3
        with:
          name: docs-website
      - id: deployment
        name: Upload docs to server
        uses: r-universe-org/deploy-docs@master
        env:
          BUILDLOG: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
          GITHUB_PAT: ${{ secrets.GHPAT }}

  source:
    needs: prepare
    name: Build source package
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    outputs:
      commitinfo: ${{ steps.build.outputs.COMMITINFO }}
      maintainerinfo: ${{ steps.build.outputs.MAINTAINERINFO }}
      sourcepkg: ${{ steps.build.outputs.SOURCEPKG }}
      package: ${{ steps.build.outputs.PACKAGE }}
      version: ${{ steps.build.outputs.VERSION }}
      java: ${{ steps.build.outputs.NEED_RJAVA }}
      jags: ${{ steps.build.outputs.NEED_JAGS }}
    steps:
      - id: build
        name: Build source package
        uses: r-universe-org/build-source@master
        env:
          MAINTAINERLOGIN: ${{ needs.prepare.outputs.maintainer_login }}
        with:
          url: ${{ needs.prepare.outputs.repo_url }}
          ref: ${{ needs.prepare.outputs.repo_commit }}
          subdir: ${{ needs.prepare.outputs.repo_subdir }}
          branch: ${{ needs.prepare.outputs.repo_branch }}
          articles: ${{ needs.prepare.outputs.repo_registered }}
      - name: "Generate pkgdata"
        uses: r-universe-org/generate-pkgdata@master
        if: ${{ always() && steps.build.outputs.PACKAGE }}
        with:
          REPO_URL: ${{ needs.prepare.outputs.repo_url }}
          REPO_REGISTERED: ${{ needs.prepare.outputs.repo_registered }}
          JOB_STATUS: ${{ job.status }}
          DISTRO: ${{ steps.build.outputs.DISTRO }}
          PACKAGE: ${{ steps.build.outputs.PACKAGE }}
          VERSION: ${{ steps.build.outputs.VERSION }}
          COMMITINFO: ${{ steps.build.outputs.COMMITINFO }}
          MAINTAINERINFO: ${{ steps.build.outputs.MAINTAINERINFO }}
          FILE: ${{ steps.build.outputs.SOURCEPKG }}
          TARGET: ${{ steps.build.outputs.SOURCEPKG && 'source' || 'failure' }}
      - name: "Save source package"
        uses: actions/upload-artifact@v3
        if: ${{ always() && steps.build.outputs.PACKAGE }}
        with:
          name: package-source
          path: |
            ${{ steps.build.outputs.SOURCEPKG }}
            pkgdata.txt
      - name: "Update pkgdata for linux binary package"
        run: |
          echo "TARGET=linux" >> pkgdata.txt
          echo "FILE=${{steps.build.outputs.BINARYPKG }}" >> pkgdata.txt
      - name: "Save linux binary package"
        uses: actions/upload-artifact@v3
        if: ${{ always() && steps.build.outputs.BINARYPKG }}
        with:
          name: package-linux-release
          path: |
            ${{ steps.build.outputs.BINARYPKG }}
            pkgdata.txt

  binaries:
    needs: [prepare, source]
    if: ${{ always() && needs.source.outputs.sourcepkg }}
    runs-on: ${{ matrix.os }}-${{ matrix.os == 'macos' && '11' || 'latest' }}
    timeout-minutes: 60
    name: Build for ${{ matrix.os }} / R-${{ matrix.r }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows, macos ]
        r: [ 'release', 'oldrel' ]
        include:
          - os: 'windows'
            r: 'devel'
    steps:
      - name: Before cache
        if: runner.os == 'macos'
        uses: r-universe-org/macos-actions/before-cache@master
      - name: Cache tools
        if: runner.os == 'macos'
        uses: actions/cache@v3
        with:
          path: |
            /opt/X11
          key: ${{ runner.os }}-${{ matrix.r }}-2
      - name: Install R
        uses: r-universe-org/actions/setup-r@master
        id: install-r
        with:
          r-version: ${{ matrix.r }}
        env:
          NOT_CRAN: false
      - name: Prepare macOS system
        if: runner.os == 'macos'
        uses: r-universe-org/macos-actions/prepare-macos@master
      - name: Download source package
        uses: actions/download-artifact@v3
        with:
          name: package-source
          path: .
      - name: "Build and check for MacOS"
        uses: r-universe-org/build-and-check@master
        if: runner.os != 'windows'
        env:
          GITHUB_PAT: ${{ secrets.PUBLIC_PAT }}
        with:
          sourcepkg: ${{ needs.source.outputs.sourcepkg }}
          jags: ${{ needs.source.outputs.jags }}
      - name: "Build and check for Windows"
        uses: r-universe-org/build-and-check@windows
        if: runner.os == 'windows'
        env:
          GITHUB_PAT: ${{ secrets.PUBLIC_PAT }}
        with:
          sourcepkg: ${{ needs.source.outputs.sourcepkg }}
          java: ${{ needs.source.outputs.java }}
          jags: ${{ needs.source.outputs.jags }}
      - id: postcheck
        name: "Package install log"
        uses: r-universe-org/post-check@master
        with:
          package: ${{ needs.source.outputs.package }}
          sourcepkg: ${{ needs.source.outputs.sourcepkg }}
        if: always()
      - name: "Generate pkgdata"
        uses: r-universe-org/generate-pkgdata@master
        if: ${{ always() && steps.postcheck.outputs.binarypkg }}
        with:
          REPO_URL: ${{ needs.prepare.outputs.repo_url }}
          REPO_REGISTERED: ${{ needs.prepare.outputs.repo_registered }}
          JOB_STATUS: ${{ job.status }}
          DISTRO: ${{ matrix.os }}
          PACKAGE: ${{ needs.source.outputs.package }}
          VERSION: ${{ needs.source.outputs.version }}
          COMMITINFO: ${{ needs.source.outputs.commitinfo }}
          MAINTAINERINFO: ${{ needs.source.outputs.maintainerinfo }}
          FILE: ${{ steps.postcheck.outputs.binarypkg }}
          TARGET: ${{ matrix.os }}
      - name: "Save binary package"
        uses: actions/upload-artifact@v3
        if: ${{ always() && steps.postcheck.outputs.binarypkg }}
        with:
          name: package-${{ matrix.os }}-${{ matrix.r }}
          path: |
            ${{ steps.postcheck.outputs.binarypkg }}
            pkgdata.txt

  deploy:
    name: Deploy to package server
    runs-on: ubuntu-20.04
    needs: [source, binaries, docs]
    if: ${{ always() && needs.source.outputs.package }}
    outputs:
      deployed_packages: ${{ steps.deployment.outputs.deployed_packages }}
    steps:
      - name: Get artifacts for deployment
        uses: actions/download-artifact@v3
      - id: deployment
        name: Upload packages to server
        uses: r-universe-org/deploy-packages@master
        env:
          CRANLIKEURL: https://${{ github.event.repository.name }}.r-universe.dev/packages
          CRANLIKEPWD: ${{ secrets.CRANLIKEPWD }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          PKGDOCS: ${{ needs.docs.result }}

  finalstatus:
    name: Set Github Status
    runs-on: ubuntu-20.04
    needs: [prepare, docs, source, deploy, pendingstatus]
    if: always() && needs.prepare.outputs.universe_app
    steps:
      - name: Set upstream commit status
        uses: r-universe-org/commit-status@master
        env:
          GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
        with:
          repo: ${{ needs.prepare.outputs.repo_url }}
          sha: ${{ needs.prepare.outputs.repo_commit }}
          url: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
          universe: ${{ github.event.repository.name }}
          deployed_packages: ${{ needs.deploy.outputs.deployed_packages }}
          source_status: ${{ needs.source.result }}
          docs_status: ${{ needs.docs.result }}
